@font-face {
  font-family: "hubDisplay";
  src: url(../fonts/Hub191Display.woff2);
}

@font-face {
  font-family: "hubRegular";
  src: url(../fonts/Hub191Regular.woff2);
}

h2 {
  background-color: red;
}
